// === fonts ===

$font-basis: 'Roboto Slab', serif;
$font-additional-1: "MyriadPro", serif;
$font-additional-2: "Open Sans", sans-serif;

// === / fonts ===

// === color ===

$color-text-basis: #fff;
$color-text-additional-1: #65e496;
$color-text-additional-2: #696980;
$color-text-additional-3: #44444f;
$color-text-additional-4: #9191b5;

$color-nav-hover: #65e496;

$color-link: #65e496;
$color-link-hover: #2424c2;
$color-link-footer-hover: #fff;

$bg-1: #f5f6fa;
$bg-2: #44444f;
$bg-3: #fff;

$bg-image: linear-gradient(150deg, rgb(66, 99, 132) 0%, rgb(90, 202, 177) 100%);
$bg-image-1: linear-gradient(150deg, rgb(66, 99, 132) 0%, rgb(90, 202, 177) 100%);

$bg-btn: linear-gradient(180deg, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%);
$bg-btn-hover: #2424c2;
$bg-btn-bottom: #b2f1be;

$bg-line: #65e496;

$bg-nav-mobile-line: #65e496;

$bg-chapter-book: linear-gradient(180deg, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%);

// === / color ===

// === font-size ===

$fz-title-1: 48px;
$fz-title-2: 36px;
$fz-title-3: 24px;
$fz-title-4: 18px;

$fz-subtitle-1: 18px;
$fz-subtitle-2: 15px;
$fz-subtitle-3: 14px;
$fz-subtitle-4: 12px;

$fz-chapter-book: 15px;

$fz-text-1: 18px;
$fz-text-2: 15px;
$fz-text-3: 14px;
$fz-text-4: 12px;

$fz-counter-number: 80px;

$fz-nav: 16px;

$fz-btn: 18px;

$fz-inverted-commas: 48px;

// === / font-size ===

// === size ===

$padding-btn-top-bottom: 15px;

$body-width: 1170px;

// === / size ===

// === other ===

// === / other ===
